<div class="container">
    <div class="row ">
      <button class="card" (click)="prendidati()" tabindex="0">      
        <span>{{bottone1}}</span>
      </button>  
      <button class="card" (click)="prendidati2()" tabindex="0">      
        <span>{{bottone2}}</span>
      </button>  
      <button class="card"  tabindex="0">      
        <span>NULL</span>
      </button>
    </div>
  </div>
