<div class="sidebar-wrapper" >
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="assets/img/angular2-logo.png">
        </div>
      </a>
      <a href="#" class="simple-text logo-normal">
        Logo Aziendale
      </a>
    </div>
  
      <!-- <span class="up"> up </span> -->
  
  
      <ul class="nav" >
          <li><a href="#"><i class="nc-bank nc-icon"></i> <p> Home </p> </a> </li>
          <li><a href="/contatti"><i class="nc-bank nc-icon"></i> <p> Contatti </p> </a> </li>
          <li><a href="#"><i class="nc-bank nc-icon"></i> <p> Elaborazioni </p> </a> </li>
          <li><a href="#"><i class="nc-bank nc-icon"></i> <p> Home </p> </a> </li>
          <li><a href="#"><i class="nc-bank nc-icon"></i> <p> Home </p> </a> </li>
          <li><a href="#"><i class="nc-bank nc-icon"></i> <p> Home </p> </a> </li>
          <li><a href="#"><i class="nc-bank nc-icon"></i> <p> Home </p> </a> </li>
          <li><a href="#"><i class="nc-bank nc-icon"></i> <p> Home </p> </a> </li>
          <li><a href="#"><i class="nc-bank nc-icon"></i> <p> Home </p> </a> </li>
          

      </ul>
  
      <!-- <span class="dw"> dw </span> -->
  
  </div>
