
    <div class="container">
        <div class="row">
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">e-mail</span>
            <input type="text" id="mail" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          </div>        
        </div>
        <div class="row">
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">password</span>
            <input type="text" id="pass" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          </div>        
        </div>
        <div class="row">
          <button type="button" class="btn btn-primary btn-lg" (click)="accedi()" >accedi</button>
        </div>
      </div>

